:root {
    --primary: #3b7073;
    --primary-dark: #3b7073;
}

@font-face {
    font-family: "Gilroy";
    src: url("radomir_tinkov_-_gilroy-regular-webfont.woff2") format("woff2"),
        url("radomir_tinkov_-_gilroy-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("radomir_tinkov_-_gilroy-semibold-webfont.woff2") format("woff2"),
        url("radomir_tinkov_-_gilroy-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("gilroy-extrabold-webfont.woff2") format("woff2"),
        url("gilroy-extrabold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

.font-sans {
    font-family: "Gilroy";
}
